<div *ngFor="let line of scenario.script.lines; index as i">
  <div *ngIf="line.startsWith('#') || !line.startsWith('    '); else codeLine">
    <h1 *ngIf="line.startsWith('# ')">{{line.replace('# ', '')}}</h1>
    <h2 *ngIf="line.startsWith('## ')">{{line.replace('# ', '')}}</h2>
    <h3 *ngIf="line.startsWith('### ')">{{line.replace('# ', '')}}</h3>
    <h4 *ngIf="line.startsWith('#### ')">{{line.replace('# ', '')}}</h4>
  </div>
  <ng-template #codeLine>
    <pre>{{line}}</pre>
  </ng-template>
</div>
<div *ngIf="!scenario">... loading scenario ...</div>
