.hsCode {
  color: white;
  background-color: #001024;
}

.hsCodeSUCCESS {
  color: white;
  background-color: #00360d;
}

body {
  color: white;
  font-family: monospace;
}

.hsHeader {
  background-color: #122039;
}
