<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <span class="navbar-brand" routerLink="/home"><img src="assets/logo.png"/> </span>
  <span class="navbar-brand badge badge-primary" *ngIf="serviceStatus">{{serviceStatus.buildVersion}}</span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
      <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
        <a ngbNavLink routerLink="{{link.link}}" [fragment]="link.fragment" >{{ link.title }}</a>
      </li>
      <!--<li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Environment
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Development</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Daily</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Nightly</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Quality</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Prod</a>
        </div>
      </li>-->
    </ul>
  </div>
</nav>
