<div class="jumbotron">
  <h1 class="display-4">404 - Mamma mia!</h1>
  <h2>Flasche leer!</h2>
  <p class="lead">Whatever you was searching for, it is not here!</p>
  <hr class="my-4">
  <p>Yet, we are sorry for that. Just continue your quest for answers! You shall be successful!</p>
  <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Home</a>
  <a class="btn btn-secondary btn-lg" routerLink="/documentation" role="button" style="margin-left: 1rem">Documentation</a>
  <a class="btn btn-primary btn-lg" href="https://github.com/hydrogen2oxygen/hyperselenium" target="git" role="button" style="margin-left: 1rem">Github</a>
</div>
