<h4>Scenarios</h4>

<table class="table table-dark thead-dark table-bordered table-hover table-sm" *ngIf="scenarios">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let scenario of scenarios; index as i">
    <th scope="row">{{ i + 1 }}&nbsp;
      <fa-icon [icon]="faEdit" title="EDIT" routerLink="/scenario/{{scenario.name}}"></fa-icon>&nbsp;
      <fa-icon [icon]="faPlay" title="PLAY" (click)="play(scenario)"></fa-icon>&nbsp;
      <fa-icon [icon]="faStop" title="STOP" (click)="stop(scenario)"></fa-icon>&nbsp;
      <fa-icon [icon]="faArchive" title="EXPORT TO HDD" (click)="export(scenario)"></fa-icon>&nbsp;
      <fa-icon [icon]="faTrash" title="DELETE FROM DB" (click)="delete(scenario)"></fa-icon>
    </th>
    <td>{{ scenario.name }}</td>
    <td>{{ scenario.description }}</td>
  </tr>
  </tbody>
</table>
