<form *ngIf="scenarioForm" [formGroup]="scenarioForm">
  <div class="form-group">
    <label for="scenarioName">Name</label>
    <input formControlName="name" type="text" class="form-control form-control-sm" id="scenarioName" aria-describedby="scenarioNameHelp">
    <small id="scenarioNameHelp" class="form-text text-muted">The name of the scenario.</small>
  </div>
  <div class="form-group">
    <label for="scenarioDescription">Description</label>
    <input formControlName="description" type="text" class="form-control form-control-sm" id="scenarioDescription" aria-describedby="scenarioDescriptionHelp">
    <small id="scenarioDescriptionHelp" class="form-text text-muted">Describe your intention for the scenario (just a few words).</small>
  </div>
  <div class="form-group">
    <label for="scenarioScript">Script</label>
    <textarea type="text" rows="10" class="form-control form-control-sm" id="scenarioScript" aria-describedby="scenarioScriptHelp">
# Title
Some text in markdown syntax.

    open url
    screenshot
    close

End notes.</textarea>
    <small id="scenarioScriptHelp" class="form-text text-muted">The main script of you hyperselenium scenario.<br>
    You can edit the script later in interactive mode.<br>
    Read the documentation <a routerLink="/documentation" target="documentation">here</a>.</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="draft">
    <label class="form-check-label" for="draft">Draft</label>
  </div>
  <button class="btn btn-primary" (click)="save()">Save</button>
</form>
