<form>
  <div class="form-group">
    <label for="scenarioName">Name</label>
    <input type="text" class="form-control form-control-sm" id="scenarioName" aria-describedby="scenarioNameHelp">
    <small id="scenarioNameHelp" class="form-text text-muted">The name of the scenario.</small>
  </div>
  <div class="form-group">
    <label for="scenarioDescription">Description</label>
    <input type="text" class="form-control form-control-sm" id="scenarioDescription" aria-describedby="scenarioDescriptionHelp">
    <small id="scenarioDescriptionHelp" class="form-text text-muted">Describe your intention for the scenario.</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="draft">
    <label class="form-check-label" for="draft">Draft</label>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
