<p *ngIf="editMode">Edit scenario</p>
<form *ngIf="scenarioForm" [formGroup]="scenarioForm">
  <div class="form-group">
    <label for="scenarioName">Name</label>
    <input formControlName="name" type="text" class="form-control form-control-sm" id="scenarioName" aria-describedby="scenarioNameHelp">
    <small id="scenarioNameHelp" class="form-text text-muted">The name of the scenario.</small>
  </div>
  <div class="form-group">
    <label for="scenarioDescription">Description</label>
    <input formControlName="description" type="text" class="form-control form-control-sm" id="scenarioDescription" aria-describedby="scenarioDescriptionHelp">
    <small id="scenarioDescriptionHelp" class="form-text text-muted">Describe your intention for the scenario (just a few words).</small>
  </div>
  <div class="form-group">
    <label for="scenarioScript">Script</label>
    <textarea formControlName="script" type="text" rows="10" class="form-control form-control-sm" id="scenarioScript" aria-describedby="scenarioScriptHelp"
    (keyup)="insertTab()">
# Title
Some text in markdown syntax.

    open url
    screenshot
    close

End notes.</textarea>
    <small id="scenarioScriptHelp" class="form-text text-muted">The main script of you hyperselenium scenario.<br>
    You can edit the script later in interactive mode.<br>
    Read the documentation <a routerLink="/documentation" target="documentation">here</a>.</small>
  </div>

  <button *ngIf="!editMode" class="btn btn-primary" (click)="save()">Save</button>
  <button *ngIf="editMode" class="btn btn-success" (click)="udate()">Update</button>
  <button *ngIf="editMode" class="btn btn-primary" (click)="play()" style="margin-left: 1rem">Play</button>
</form>

<h1>Commands</h1>
<div *ngIf="commands">
  <button *ngFor="let command of commands" title="{{command.description}}" style="margin-right: 0.5rem" class="btn btn-success" (click)="copyCommandToClipBoard(command)">{{command.name}}</button>
</div>
